
@media (max-width:59.999em) {
    .nav-link svg {
        height: 1.1rem;
        width: auto;
    }
    .contact-list-item svg {
        height: 1.5rem;
    }
    .technology-icon-list {
        gap: 1em;
        justify-content: center;
    }
}

@media (min-width: 55em) {
    .tabs-wrapper-about {
        width: 100%;
        max-width: 1000px;
        border-right: $border-primary;
        border-top: $border-primary;
        border-bottom: none;
        border-radius: $border-radius;
        grid-template-areas: 
            'tab-list panel'
            'tab-list image';
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        gap: 1em;
        
    }
    .tab-list-about {
        flex-direction: column;
    }
    .about-img { justify-self: end;}
    .project-card {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'intro title'
        'intro description'
        'intro preview';
        gap: 1em;
        padding-right: 1em;
        height: 100%;
    }
    .project-img {
        max-height: max-content;
        border-top-right-radius: 0;
        border-bottom-left-radius: $border-radius;
    }
    .project-list {
        border-bottom-left-radius: $border-radius;
    }
}

@media (min-width: 60em) {
    .header .container {
        padding: .5em 0;
    }
    .home-body {
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
    }
    .home-content {
        max-width: 500px;
        justify-self: end;
        h1 span {
            display: inline-block;
        }
    }
    .home-img {
        width: 100%;
    }
}